%form{ ng: { submit: 'addNewProject(project)' }, role: 'form',
       id: 'projectForm' }
  .input-group
    %input{ id: 'title', name: 'title', class: 'form-control input-sm',
                placeholder: "{{ 'proj_title_placeholder' | translate }}",
                ng: { model: 'project.title' }, required: true }
    .input-group-btn
      %button{ type: 'submit', class: 'btn btn-sm btn-default' }
        {{ 'add' | translate }}
      %button{ type: 'button', class: 'btn btn-sm btn-default',
                   ng: { click: 'hideAddProject()' } }
        {{ 'cancel' | translate }}