%form{ ng: { submit: 'updateProjectTitle(projectForm)',
             init: 'projectForm = {id: proj.id, title: proj.title}' },
             role: 'form', id: 'projectEditForm' }
  .input-group.input-group-sm
    %input.input-sm{ ng: { model: 'projectForm.title' }, class: 'form-control',
                   id: 'project_title', name: 'title', required: true,
                   placeholder: '{{ proj_title_new_placeholder | translate }}' }
    %span.input-group-btn
      %button{ role: 'submit', class: 'btn btn-sm btn-primary' }
        {{ 'save' | translate }}