.row
  %form{ ng: { submit: 'updateTaskTitle(taskTitleEdit)' },
         role: 'form', id: 'update_task_title' }
    .col-xs-12
      .input-group.input-group-sm
        %input.input-sm{ type: 'text', class: 'form-control', name: 'task_title',
                         ng: { model: 'taskTitleEdit' } }
        %span.input-group-btn
          %button{ role: 'submit', class: 'btn btn-sm btn-primary' }
            {{ 'save' | translate }}