<div class='row'>
  <div class='col-xs-6 col-xs-offset-3'>
    <h2 class='text-center'>
      {{'sign_up' | translate}}
    </h2>
    <form ng-init='registrationForm = {}' ng-submit='handleRegBtnClick()' role='form'>
      <div class='form-group'>
        <input class='input-sm form-control' id='email' name='email' ng-model='registrationForm.email' placeholder="{{'email' | translate}}" required type='email'>
      </div>
      <div class='form-group'>
        <input class='input-sm form-control' id='password' name='password' ng-model='registrationForm.password' placeholder="{{'password' | translate}}" required type='password'>
      </div>
      <div class='form-group'>
        <input class='input-sm form-control' id='password_confirmation' name='password_confirmation' ng-model='registrationForm.password_confirmation' placeholder="{{'password_confirm' | translate}}" required type='password'>
      </div>
      <button class='btn btn-sm btn-primary' type='submit'>
        {{'sign_up' | translate}}
      </button>
    </form>
  </div>
</div>
