.col-xs-12
  .comment-wrap
    .comment
      %p.comment
        %span
          {{comment.message}}
      %span.glyphicon.glyphicon-trash{ ng: { click: 'deleteComment()' } }
    .comment-attach{ ng: { repeat: 'attach in comment.attachments' }, attach: 'attach' }