.col-xs-12
  .comment-wrap
    .comment
      %p
        %span
          {{comment.message}}
      %span.glyphicon.glyphicon-trash{ ng: { click: 'deleteComment()' } }
    %p.attachments-header{ ng: { show: 'comment.attachments.length > 0' } }
      {{ 'attachments' | translate }}
    .comment-attach{ ng: { repeat: 'attach in comment.attachments' }, attach: 'attach' }