%form{ ng: { submit: 'createTask()' }, role: 'form', id: 'addTaskForm' }
  .col-xs-12.task-form
    %span.glyphicon.glyphicon-plus{ aria: { hidden: true }  }
      .input-group.input-group-sm
        %input.input-sm{ ng: { model: 'taskForm.title' }, class: 'form-control',
                   id: 'project_title', name: 'title', required: true,
                   placeholder: '{{ proj_title_new_placeholder | translate }}' }
          %span.input-group-btn
            %button{ role: 'submit', class: 'btn btn-sm btn-primary' }
              {{ 'add_task' | translate }}
.row
  .col-xs-12
    %task-template{ ng: { repeat: 'task in tasks' }, task: 'task' }

