%ng-include{ src: "'forms/create_task_form.html'"}
.row
  .col-xs-12{ ui: { sortable: 'sortableOptions' }, ng: { model: 'tasks' } }
    .task-template{ ng: { repeat: "task in tasks | orderBy : 'priority'" }, task: 'task' }
