%todo-projects
.row
  .col-xs-12{ ng: { hide: 'newProjectFlag' } }
    %button.center-block{ ng: { click: 'showAddProject()' },
                          class: 'btn btn-lg btn-primary' }
      %span.glyphicon.glyphicon-plus{ aria: { hidden: true }  }
      %span.add-todo-button
        {{ 'add_todo' | translate }}
  .col-xs-8.col-xs-offset-2{ ng: { show: 'newProjectFlag' } }
    %form{ ng: { submit: 'addNewProject(project)',
                 init: 'project = {}' }, role: 'form',
                 id: 'projectForm' }
      .input-group
        %input{ id: 'title', name: 'title', class: 'form-control input-sm',
                placeholder: "{{ 'proj_title_placeholder' | translate }}",
                ng: { model: 'project.title' }, required: true }
        .input-group-btn
          %button{ type: 'submit', class: 'btn btn-sm btn-default' }
            {{ 'add' | translate }}
          %button{ type: 'button', class: 'btn btn-sm btn-default',
                   ng: { click: 'hideAddProject()' } }
            {{ 'cancel' | translate }}