.row
  .col-xs-6.col-xs-offset-3
    %h2.text-center
      {{'sign_up' | translate}}
    %form{ ng: { submit: 'handleRegBtnClick()',
                 init: 'registrationForm = {}' }, role: 'form' }
      .form-group
        %input{ type: 'email', name: 'email', id: 'email',
                ng: { model: 'registrationForm.email' }, required: true,
                class: 'input-sm form-control', placeholder: "{{'email' | translate}}" }
      .form-group
        %input{ type: 'password', name: 'password', id: 'password',
                ng: { model: 'registrationForm.password' }, required: true,
                class: 'input-sm form-control', placeholder: "{{'password' | translate}}" }
      .form-group
        %input{ type: 'password', name: 'password_confirmation', id: 'password_confirmation',
                ng: { model: 'registrationForm.password_confirmation' }, required: true,
                class: 'input-sm form-control', placeholder: "{{'password_confirm' | translate}}" }
      %button{ type: 'submit', class: 'btn btn-sm btn-primary'}
        {{'sign_up' | translate}}
