.col-xs-12 {
  .comment-wrap {
    border: 1px solid #d3d4cb;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 7px;
    span.glyphicon.glyphicon-trash {
      position: absolute;
      right: 20px;
      top: 8px;
    }
  }

  .comment {
    margin-bottom: 0;
    word-wrap: break-word;
    overflow: hidden;
  }

  textarea {
    resize: none;
  }
}

